.list-cell:empty {
    -fx-background-color: transparent;
}

.list-cell {
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 10 0 10;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 2 2 2 2;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #5a6872;
}

.list-cell:filled:even {
    -fx-background-color: #5a6872;
}

.list-cell:filled:odd {
    -fx-background-color: #4d5f72;
}

.scroll-pane {
    -fx-background: transparent !important;
    -fx-background-color: transparent !important;
    -fx-border-color: rgb(255, 255, 255) !important;
    -fx-border-width: 0 0 0.5 0 !important;
    -fx-border-radius: 1 !important;
}
