.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#68dbd1 0%, #18b5cf 25%, #0893c9 75%, #0093bf 100%);
    -fx-text-fill: white;
}

.list-cell:empty {
    -fx-background-color: transparent;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

.list-cell {
    -fx-background-color: blue;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 10pt;
    -fx-text-fill: white;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #5a6872;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 10;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 2 2 2 2;
}

.list-cell:filled:even {
    -fx-background-color: #5a6872;
}

.list-cell:filled:odd {
    -fx-background-color: #4d5f72;
}

.list-cell:filled:selected {
    -fx-background-color: #163950;
}

.scroll-pane {
    -fx-background: transparent !important;
    -fx-background-color: transparent !important;
    -fx-border-color: rgb(255, 255, 255) !important;
    -fx-border-width: 0 0 0.5 0 !important;
    -fx-border-radius: 1 !important;
}

.scroll-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#1d1d1d, 50%);
    -fx-background-insets: 1;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 4 1 4;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 4 1 4 1;
}
